%h1 Sort groups

%ul.list-group.groups#sort-list{ data: { controller: 'sort' } }
  - groups.each do |group|
    %li.list-group-item{ data: { id: group.id } }
      %span.sort-handle.icon-small.icon-sort Move
      = group.name

= form_with url: sort_groups_path do |form|
  = form.hidden_field :order, id: 'ordered-ids'
  = form.submit 'Save order', class: 'btn btn-primary mt-3'
