%h1 Sort items

%ul.list-group.items#sort-list{ data: { controller: 'sort' } }
  - items.each do |item|
    %li.list-group-item{ data: { id: item.id } }
      %span.sort-handle.icon-small.icon-move Move
      = item.name

= form_with url: sort_items_path do |form|
  = form.hidden_field :order, id: 'ordered-ids'
  = form.submit 'Save order', class: 'btn btn-primary mt-3'
