= turbo_frame_tag 'modal' do
  .modal{ tabindex: '-1', data: { controller: 'modal', action: 'turbo:submit-end->modal#submitEnd' } }
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h5.modal-title= title
          %button.btn-close{ type: 'button', data: { bs_dismiss: 'modal' } }
        .modal-body#modal-body-content
          = yield
