%li.list-group-item.order-confirmation-item{ class: item.confirmed ? 'confirmed' : nil }
  .d-flex
    .flex-grow-1.align-self-center= item.name
    .align-self-center.total= item.total
    - if item.confirmed
      = link_to 'Unconfirm', unconfirm_item_order_path(item_id: item.id), method: :put, remote: true, class: 'btn btn-warning action'
    - else
      = link_to 'Confirm', confirm_item_order_path(item_id: item.id), method: :put, remote: true, class: 'btn btn-primary action'
