%h1 Order confirmation

- if @items.any?
  %p= link_to 'Clear confirmations', order_path, method: :delete, class: 'btn btn-secondary'

  %ul.list-group.order-confirmation
    - @items.each do |item|
      %li.list-group-item.order-confirmation-item{ class: item.confirmed ? 'confirmed' : nil }
        = render 'item', item: item

- else
  %p No items
