%h1 Items

- if @grouped_items.empty?
  %p.mt-3= link_to 'New item', new_item_path, class: 'btn btn-primary'

- @grouped_items.each do |group|
  %h3= group.name
  = render 'items', items: group.items
  %p.mt-3= link_to 'New item', new_item_path(group_id: group.id), class: 'btn btn-primary'


