.icon-small,
.icon-medium {
  display: inline-block;
  height: 100%;
  text-indent: -9999px;
}

.icon-small {
  width: 1rem;
  font-size: 1rem;
  line-height: 1rem;
}

.icon-medium {
  width: 2rem;
  font-size: 2rem;
  line-height: 2rem;
}


.icon-add {
  mask: asset-url('plus-square-fill.svg');
  mask-size: 100% 100%;
  background-color: #0d6efd; // $primary

  &:hover {
    background-color: #0b5ed7; // shade-color($primary, 15%)
  }
}

.icon-remove {
  mask: asset-url('dash-square-fill.svg');
  mask-size: 100% 100%;
  background-color: #ffc107; // $warning

  &:hover {
    background-color: #d9a406; // shade-color($warning, 15%)
  }
}

.icon-confirm {
  mask: asset-url('check-square-fill.svg');
  mask-size: 100% 100%;
  background-color: #0d6efd; // $primary

  &:hover {
    background-color: #0b5ed7; // shade-color($primary, 15%)
  }
}

.icon-unconfirm {
  mask: asset-url('x-square-fill.svg');
  mask-size: 100% 100%;
  background-color: #ffc107; // $warning

  &:hover {
    background-color: #d9a406; // shade-color($warning, 15%)
  }
}

.icon-sort {
  line-height: 1.5rem;
  width: 2rem;
  background: asset-url('justify.svg');
  background-size: 100% 100%;
  cursor: move;
}

.icon-url {
  background: asset-url('box-arrow-in-up-right.svg');
  background-size: 100% 100%;
}

.icon-menu {
  background: asset-url('three-dots-vertical.svg');
  background-size: 100% 100%;
}
