.nav-bar-brands {
  white-space: nowrap;
}

.groups, .edit-group, .items, .edit-item {
  max-width: 30rem;
}

.shopping-list, .order-confirmation {
  max-width: 40rem;

  .total {
    width: 2rem;
  }

  .actions {
    width: 5rem;
  }
}

.shopping-list {
  .to-buy {
    background-color: #ebf5eb;
  }
}

.order-confirmation {
  .confirmed {
    background-color: #ebf5eb;
  }

  .item-group {
    display: block;
    font-size: $font-size-base * .75;
    color: $gray-600;
  }
}

.group-menu-container {
  display: inline-block;
}

.group-menu,
.item-menu {
  display: block;
  margin-right: 0.5rem;
  height: 100%;
  background: asset-url('three-dots-vertical.svg');
  background-size: 100% 100%;
  text-indent: -9999px;
}

.group-menu {
  width: 1.5rem;
}

.item-menu {
  width: 1rem;
}

.sort-icon {
  display: inline-block;
  width: 2rem;
  height: 100%;
  background: asset-url('justify.svg');
  background-size: 100% 100%;
  text-indent: -9999px;
  cursor: move;
}
