.groups, .edit-group, .items, .edit-item {
  max-width: 30rem;
}

.shopping-list, .order-confirmation {
  max-width: 40rem;

  .total {
    width: 2rem;
  }

  .actions {
    width: 6rem;
  }
}

.shopping-list {
  .to-buy {
    background-color: #ebf5eb;
  }
}

.order-confirmation {
  .confirmed {
    background-color: #ebf5eb;
  }

  .item-group {
    display: block;
    font-size: $font-size-base * .75;
    color: $gray-600;
  }
}
