.nav-bar-brands {
  white-space: nowrap;
}

.groups, .edit-group, .items, .edit-item {
  max-width: 30rem;
}

.shopping-list, .confirmations {
  max-width: 40rem;

  .total,
  .url,
  .actions {
    margin-left: 1rem;
  }

  .total {
    min-width: 1.5rem;
    text-align: right;
  }
}

.shopping-list {
  .group-title {
    position: sticky;
    top: 3.5rem;
    z-index: 1;
    border-bottom: 1px solid #aaa;
    background-color: #eee;
    line-height: 2;
  }

  .to-buy {
    background-color: #ebf5eb;
  }

  .actions {
    width: 5rem;
  }
}

.confirmations {
  .confirmed {
    background-color: #ebf5eb;
  }

  .item-group {
    display: block;
    font-size: $font-size-base * .75;
    color: $gray-600;
  }
}

.group-menu-container {
  display: inline-block;
}

.group-menu,
.item-menu {
  display: block;
  margin-right: 0.5rem;
  height: 100%;
  background: asset-url('three-dots-vertical.svg');
  background-size: 100% 100%;
  text-indent: -9999px;
}

.group-menu {
  width: 1.5rem;
}

.item-menu {
  width: 1rem;
}

.sort-icon {
  display: inline-block;
  width: 2rem;
  height: 100%;
  background: asset-url('justify.svg');
  background-size: 100% 100%;
  text-indent: -9999px;
  cursor: move;
}

.item-url {
  display: inline-block;
  width: 1rem;
  height: 100%;
  background: asset-url('box-arrow-in-up-right.svg');
  background-size: 100% 100%;
  text-indent: -9999px;
}
