.turbo-progress-bar {
  height: 5px;
}

.nav-bar-brands {
  white-space: nowrap;
}

.form-group {
  margin-bottom: 1rem;
}

.groups,
.edit-group,
.items,
.edit-item {
  max-width: 30rem;
}

.shopping-list,
.confirmations {
  max-width: 40rem;
}
.shopping-list .total,
.shopping-list .url,
.shopping-list .actions,
.confirmations .total,
.confirmations .url,
.confirmations .actions {
  margin-left: 1rem;
  white-space: nowrap;
}
.shopping-list .total,
.confirmations .total {
  min-width: 1.5rem;
  text-align: right;
}

.shopping-list .group-title {
  position: sticky;
  top: 3.5rem;
  z-index: 1;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
  line-height: 2;
}
.shopping-list .icon-menu,
.confirmations .icon-menu {
  margin-right: 0.5rem;
}
.shopping-list .group-menu {
  width: 1.5rem;
  font-size: 1.6rem;
}
.shopping-list .to-buy {
  background-color: #ebf5eb;
}

.confirmations .confirmed {
  background-color: #ebf5eb;
}
.confirmations .item-group {
  display: block;
  font-size: 0.75rem; /* $font-size-base * .75 */
  color: #6c757d; /* $gray-600 */
}

.group-menu-container {
  display: inline-block;
}
